@use "first-screen";
@use "about-section";
@use "mission";
@use "services-section";
@use "cooperate-section";
@use "moving-line";
@use "customers";
@use "history-section";
@use "top-section";
@use "mobile-menun";
@use "about-info-section";
@use "certificates";
@use "licenses";
@use "team";
@use "services";
@use "projects";
@use "project";
@use "news";