@use "../assets/mixin.scss" as *;

.first-screen {
   position: relative;
   height: 100vh;
   display: flex;
   flex-direction: column;


   @supports(height: 100dvh) {
      height: 100dvh
   }

   &__swiper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      flex: 1 1 auto;
      overflow: hidden;
   }

   &__swiper-wrapper {
      height: 100%;
   }

   &__swiper-slide {
      padding-top: var(--height-header, 109px);
      position: relative;
      z-index: 0 !important;
      height: 100%;
      opacity: 0 !important;
      transition: opacity 2s !important;
   }

   &__container-swiper {
      padding-bottom: 47px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__logo {
      margin: 0 auto;
      width: 100%;
      max-width: 1060px;
   }

   &__text {
      max-width: 1040px;
      font-weight: 500;
      font-size: 16px;
      line-height: 105%;

      @include size_adaptive (font-size, 16, 57, 360, 1024);

      @media (min-width:1024px) {
         font-size: 57px;
      }
   }

   .swiper-slide-active {
      position: relative;
      z-index: 1 !important;
      opacity: 1 !important;
   }
}