@use '../assets/variablesSCSS.scss' as *;
@use '../assets/mixin.scss' as *;

.moving-line {

   &__container {}

   &__header {
      padding-top: 40px;
      border-top: 1px solid var(--color-yellowish-green);

      @media (min-width:1024px) {
         padding-top: 28px;
         display: flex;
         align-items: flex-end;
         gap: 40px;
      }
   }

   &__title {
      flex: 1 1 auto;

      @media (min-width:1024px) {
         margin-bottom: 0;
      }
   }

   &__text {
      flex: 0 0 var(--width-history-gallery);
      font-weight: 500;
      font-size: 16px;
      line-height: 141%;

      @media (min-width:1024px) {
         font-size: 20px;
      }
   }

   &__swiper {
      --gap: 8px;
      margin-top: 30px;
      overflow: hidden;

      @media (min-width:1024px) {
         --gap: 24px
      }
   }

   &__swiper-slide {
      padding: 20px 25px;
      height: 73px;
      width: 120px;
      max-width: min-content;
      background-color: var(--color-mignonette-green);

      @media (min-width:768px) {
         padding: 40px 50px;
         height: 147px;
         width: 240px;
      }

      img {
         height: 100%;
      }
   }
}