.news {
   margin-bottom: 30px;

   @media (min-width:1024px) {
      margin-bottom: 150px;
   }


   &__header {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 30px;

      @media (min-width:1024px) {
         margin-bottom: 48px;
      }
   }



   &__grid {
      margin-bottom: 32px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 68px;
      column-gap: 24px;

      @media (min-width:1024px) {
         margin-bottom: 84px;
         grid-template-columns: 1fr 1fr 1fr;

      }
   }

   &__card {
      &.variant {

         @media (min-width:1024px) {
            grid-column: span 2;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .news__card-image-sell {
               position: static;
               padding: 0;
            }

            .news__card-info {
               max-width: 546px;
               padding: 34px 30px;
               background-color: var(--color-anthracit);
            }
         }
      }

      &.right {
         align-items: flex-end;
      }
   }

   &__swiper {
      overflow: hidden;
   }

   &__card-image {
      margin-bottom: 20px;

      @media (min-width:1024px) {
         margin-bottom: 30px;
      }
   }

   &__card-image-sell {
      position: relative;
      padding-bottom: 53.7%;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         z-index: -1;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__card-text {
      margin-bottom: 15px;
      line-height: 125%;
   }

   &__card-date {
      color: var(--color-pale-green);
      overflow: hidden;

      time {
         position: relative;

         &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(100% + 36px);
            z-index: -1;
            width: 100vw;
            height: 1.5px;
            background-color: var(--color-pale-green);
         }
      }
   }

   &__nav {
      margin-top: 25px;
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 28px;

      @media (min-width:1024px) {
         display: none;
      }

      svg {
         width: 29px;
      }
   }
}

.news-page {
   margin-bottom: 160px;
}