.services {
   position: relative;
   margin-bottom: 176px;

   @media (min-width:1024px) {
      margin-bottom: 300px;
   }

   &__container {}

   &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;

      @media (min-width:768px) {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 28px;
         row-gap: 95px;
      }

      @media (min-width:1024px) {
         grid-template-columns: repeat(3, 1fr);

         &>*:nth-child(5n + 1) {
            grid-column: span 2;

            .services-section__slide-image {
               padding-bottom: 33.304%;
            }

            .services-section__slide-text {
               max-width: 777px;
            }
         }
      }

   }

   &__background {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;

      @media (min-width:1024px) {
         display: block;
      }
   }
}