.modal {
   --height-modal: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 19;
   width: 100vw;
   height: var(--height-modal);
   background-color: var(--color-modal-bg);
   scrollbar-gutter: stable;
   overflow-y: auto;
   overflow-x: hidden;

   &__container {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: var(--height-modal);
      display: flex;
      align-items: center;
   }

   &__body {
      padding: 60px 20px;
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 680px;
      background-color: var(--color-green-grey);

      @media (min-width:768px) {
         padding: 60px 100px;
      }

      &.purple {
         background-color: var(--color-purple-blue);
      }
   }

   &__close {
      position: absolute;
      top: 30px;
      right: 30px;
   }

   &__title {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 32px;
      color: var(--color-pale-green);

      @media (min-width:768px) {
         font-size: 40px;
      }
   }

   &__text {
      margin-bottom: 50px;
   }

   &__form {
      .button-transparent {
         margin-top: 60px;
         margin-left: auto;
         border-color: var(--color-white);
      }
   }

   &__input-field {
      display: block;
      margin-bottom: 36px;
   }
}


.js-modal-hidden {
   display: none;

   &.js-modal-visible {
      display: block;

   }
}

.body-overflow {
   overflow: hidden;
}