@use 'variablesSCSS' as *;
@use 'mixin.scss' as *;

body {
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--color-white);
   --padding-container: #{$padding-mobile};
   --container-width: #{$width-content};
   --max-width-container: #{$max-width-container};
   scrollbar-gutter: stable;
   background-color: var(--color-green);
   --width-history-gallery: calc(100vw - var(--padding-container) * 2);

   @media (min-width:768px) {
      --padding-container: #{$padding-tablet};
   }

   @media (min-width:1024px) {
      --padding-container: #{$padding-desktop};
      @include size_adaptive (--width-history-gallery, 650, 895, 1024, 1300);
   }

   @media (min-width:1300px) {
      --width-history-gallery: 895px;
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

// .shadow {
//    box-shadow: -3px 0 16px 0 rgba(51, 51, 51, 0.3);
// }

[class*="__container"] {
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);
   margin: 0 auto;
   width: 100%;
   max-width: var(--max-width-container);
}

.bg-anthracit {
   background-color: var(--color-anthracit);
}

.bg-olive {
   background-color: var(--color-olive);
}

.bg-purple {
   background-color: var(--color-purple-blue);
}

.title {
   font-size: 24px;
   text-transform: uppercase;
   color: var(--color-white);

   @media (min-width:768px) {
      font-size: 36px;
   }

   @media (min-width:1024px) {
      font-size: 48px;
   }

   &__container {
      margin-bottom: 16px;
      display: flex;
      align-items: flex-start;
      gap: 60px;

      @media (min-width:768px) {
         margin-bottom: 40px;
      }

      @media (min-width:1024px) {
         margin-bottom: 60px;
      }
   }

   &__label {
      padding: 9px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
   }
}

.mobile-hidden {
   @media (max-width:1023.98px) {
      display: none;
   }
}

.hover-link {
   transition: color $tr-time;

   ._pc &:hover {
      color: var(--color-olive);
      // text-decoration: underline;
   }
}

.button,
.button-transparent {
   position: relative;
   margin: 0 auto;
   padding: 10px 33px;
   min-height: 52px;
   width: max-content;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   border-radius: 100px;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.05em;

   @media (min-width:1024px) {
      margin: 0;
      min-height: 87px;
      padding: 20px 43px;
      font-size: 24px;
   }

   &::after {
      content: '';
      width: 26px;
      height: 16px;
      background: url("../img/svg/arrow.svg") no-repeat right center / contain;
      display: none;

      @media (min-width:1024px) {
         display: block;
      }
   }
}

.button {
   background: url("../img/svg/background-button-left.svg") left / contain no-repeat, url("../img/svg/background-button-right.svg") right / contain no-repeat, var(--color-olive);
}

.button-transparent {
   background: url("../img/svg/background-button-left.svg") left / contain no-repeat, url("../img/svg/background-button-right.svg") right / contain no-repeat;
   border: 1px solid var(--color-olive);
}

.button-border {
   padding: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 104px;
   width: 100%;
   border: 1px solid var(--color-olive);
   border-radius: 100px;
   font-weight: 500;
   font-size: 20px;
   line-height: 150%;
   text-transform: uppercase;
}

.baner-image {
   width: 100%;
}

// .hidden-max1024 {
//    @media (max-width:1023.98px) {
//       display: none !important;
//    }
// }

// .hidden-max768 {
//    @media (max-width:767.98px) {
//       display: none !important;
//    }
// }

// .title-header {
//    margin-bottom: 10px;
//    font-weight: 700;
//    font-size: 18px;
//    line-height: 133%;
//    text-transform: uppercase;
//    color: var(--color-yellow-broom);

//    @media (min-width:768px) {
//       margin-bottom: 20px;
//       font-size: 20px;
//    }

//    @media (min-width:1024px) {
//       font-size: 24px;
//    }
// }

.title-section {
   margin-bottom: 20px;
   font-weight: 500;
   font-size: 24px;
   line-height: 115%;
   color: var(--color-pale-green);

   @media (min-width:768px) {
      font-size: 32px;
   }

   @media (min-width:1024px) {
      font-size: 40px;
   }
}

.text-24 {
   font-size: 16px;
   line-height: 115%;
   // font-weight: 500;

   @media (min-width:768px) {
      font-size: 20px;
   }

   @media (min-width:1024px) {
      font-size: 24px;
   }
}

.text-20 {
   font-size: 16px;
   line-height: 115%;
   // font-weight: 500;

   @media (min-width:768px) {
      font-size: 18px;
   }

   @media (min-width:1024px) {
      font-size: 20px;
   }
}

// .margin-section {
//    margin-bottom: 40px;

//    @media (min-width:768px) {
//       margin-bottom: 70px;
//    }

//    @media (min-width:1024px) {
//       margin-bottom: 100px;
//    }
// }

.padding-section {
   padding-top: 15px;
   padding-bottom: 15px;

   @media (min-width:768px) {
      padding-top: 20px;
      padding-bottom: 20px;
   }

   @media (min-width:1024px) {
      padding-top: 40px;
      padding-bottom: 40px;
   }
}

// .scroll::-webkit-scrollbar {
//    width: 11px;
//    height: 11px;
//    border-radius: 6px;
// }

// .scroll::-webkit-scrollbar-track {
//    border-radius: 6px;
//    background-color: var(--color-lightgrey, lightgrey);
// }

// .scroll::-webkit-scrollbar-thumb {
//    background-color: var(--color-green, green);
//    background-clip: content-box;
//    border-radius: 6px;
// }

.swiper-wrapper {
   position: relative;
   z-index: 1;
   display: flex;
   transition-property: transform;

   .swiper-slide {
      flex-shrink: 0;
      width: 100%;
      position: relative;
      transition-property: transform;
      touch-action: pan-y;
   }
}

.swiper-button {
   svg path {
      transition: fill $tr-time;
   }

   &:hover {
      svg path {
         fill: var(--color-white);
      }
   }
}

.swiper-nav {
   display: flex;
   align-items: center;
   gap: 35px;
}

.pagination-fraction {
   font-size: 24px;
   color: var(--color-green-pale);

   .swiper-pagination-total {
      color: var(--color-white);
   }
}

// .js-tabs-shell {
//    will-change: height;
//    transform: translateZ(0);
//    height: 0;
//    overflow: hidden;
//    transition: height $tr-time-l $bezier;
// }

// .js-tabs-toggle {
//    cursor: pointer;
// }

// /* указатель количества, абсолютное позиционирование */
// [data-icon-quantity] {
//    position: relative;
//    display: block;

//    &::after {
//       content: attr(data-icon-quantity);
//       padding: 5px;
//       position: absolute;
//       top: 0;
//       right: 0;
//       transform: translate(25%, -25%);

//       min-width: 24px;
//       height: 24px;

//       display: flex;
//       align-items: center;
//       justify-content: center;

//       border-radius: 12px;
//       font-size: 12px;
//       color: var(--color-white, #ffffff);
//       background-color: var(--color-black, #000000);
//    }
// }

// /* указатель количества, в строку */
// [data-string-quantity] {
//    &::after {
//       content: " (" attr(data-string-quantity) ")";
//       color:var(--color-black, #000000);
//    }
// }


.input-name {
   display: block;
   font-size: 18px;
}

.input-field {
   display: block;
   width: 100%;
   font-size: 18px;
   border-bottom: 1px solid var(--color-white);
   color: inherit;
}

.input-check {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 18px;

   a {
      text-decoration: underline;
      text-underline-offset: 2px;

      &:hover {
         text-decoration: underline;
      }
   }

   input {
      display: none;

      &:checked+.input-check-icon::after {
         display: block;
      }
   }
}

.input-check-icon {
   cursor: pointer;
   display: block;
   position: relative;
   width: 25px;
   min-width: 25px;
   height: 25px;
   border-radius: 6px;
   border: 2px solid var(--color-white);

   &::after {
      content: url("data:image/svg+xml,%3Csvg width='25' height='19' viewBox='0 0 25 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 10.5L8 17L24 1' stroke='%2398A24C' stroke-width='2'/%3E%3C/svg%3E");
      position: absolute;
      top: -2px;
      left: 3.5px;
      width: 22px;
      height: 16px;
      display: none;
   }
}

.phone {
   display: flex;
   align-items: center;
   gap: 20px;
   font-size: 20px;
   font-weight: 500;
}

.button-menu {
   display: block;
   position: relative;
   width: 28px;
   min-width: 28px;
   height: 20px;

   @media (min-width:1024px) {
      display: none;
   }

   &__line-top,
   &__line-center,
   &__line-bottom {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--color-olive);
      transition: transform $tr-time;
   }

   &__line-top {
      transform: translate(-50%, calc(-50% - 8px));
   }

   &__line-center {
      transform: translate(-50%, -50%);
   }

   &__line-bottom {
      transform: translate(-50%, calc(-50% + 8px));
   }
}

.open-mobile-menu {
   overflow: hidden;

   body {
      overflow: hidden;
   }

   .button-menu__line-top {
      transform: translate(-50%, -50%) rotate(-45deg);
   }

   .button-menu__line-center {
      opacity: 0;
   }

   .button-menu__line-bottom {
      transform: translate(-50%, -50%) rotate(45deg);
   }
}

.open-mobile-menu .mobile-menu {
   left: 0;
}

.js-moving-line {
   display: flex;
   width: max-content;
   transition: transform linear;
   display: flex;
   animation: moving-line calc(var(--moving-line-quantity, 10) * var(--moving-line-time, 3s))linear infinite 1s;

   &>* {
      display: flex;
      gap: var(--gap);
      padding-right: var(--gap);
   }
}

@keyframes moving-line {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-50%);
   }
}