:root {
   --font-family: Raleway, sans-serif;

   --color-white: #ffffff;
   --color-black: #2f2f2f;
   --color-red: #f05634;
   --color-feldgrau: #485b4e;
   --color-green: #536e4d;
   --color-olive: #98a24c;
   --color-green-tea: #b5d4ab;
   --color-pale-green: #ddd0bd;
   --color-modal-bg: rgba(0, 0, 0, 0.6);




}